@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(14, 14, 14, 0.2);
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: #ffff;
  padding: 30px 10%;
  z-index: 999;
}

.logo {
  color: #070707;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.nav-links li {
  display: inline-block;
  padding: 0 25px;
}

.nav-links li a {
  color: #080808;
  letter-spacing: 3px;
  font-weight: bold;
}

.nav-links li a:hover {
  color: #8ca5e0;
}

.cta button {
  border: none;
  border-radius: 50px;
  background-color: rgb(255, 223, 222);
  color: #080808;
  padding: 9px 25px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta button:hover {
  background-color: rgb(247, 196, 195);
}

.burger {
  cursor: pointer;
  font-size: 30px;
  display: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 12vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 10px;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 1;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
  background-color: #ffffff !important;
}

/* Hero Section */
.hero-section {
  background-image: url(Images/sports.jpg);
  box-shadow: 0 2px 4px 0 rgba(14, 14, 14, 0.3);
  background-position: left center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.hero-section::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(64, 64, 64, 0.7);
  opacity: 0.7;
  z-index: -1;
}
.hero-left {
  padding-top: 14rem;
  padding-left: 8rem;
}

.hero-left h1 {
  color: #fefdfd;
  font-size: 2.3rem;
  width: 30rem;
  text-align: left;
}

.btn {
  padding: 13px 35px;
  font-size: 17px;
  line-height: 28px;
  font-weight: 500;
  transition: 0.3s ease-in;
  border-radius: 35px;
  border: none;
  color: #fff;
}

.btn-btn {
  margin-top: 3rem;
}

.btn1 {
  color: #000;
  background-color: #f7bcba;
  margin-right: 0.5rem;
}

.btn1:hover,
.btn1:active {
  background-color: transparent;
  border: 1px solid #fff;
  color: #f7bcba;
  border: 1px solid #f7bcba;
}

.btn2 {
  color: #fff;
  border: 1px solid #dadada;
  background: rgba(255, 255, 255, 0.15);
}

.btn2:hover,
.btn2:active {
  border: none;
  color: #000;
  background-color: #f5eceb;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.gallery img {
  width: 25rem;
  height: 18.75rem;
  border: 2px solid #fff;
  border-radius: 0.8125rem;
  box-shadow: 4px 7px 7px 0 #00000042;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;
}

.gallery img:hover {
  filter: grayscale(1);
  transform: scale(1.03);
}

.form-sec {
  background: #fff5f0;
  padding: 5rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin-top: 2rem;
}

.form-sec:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

form {
  background-color: #fff;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}



form button {
  background-color: #8ca5e0;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}

form button:hover {
  background-color: #f7bcba;
}

.form-sec h2 {
  text-align: center;
  margin-bottom: 1rem;
}

form input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.error {
  color: red;
  font-size: 0.9rem;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  gap: 1.5rem;
}

.footer1 {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  
}

footer .fa-brands {
  color: #8ca5e0;
  cursor: pointer;
  font-size: 1.2rem;
}

footer .fa-brands:hover {
 color: #f7bcba;
  
}

.footer2 p {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

 